PORT=4000
NODE_ENV=development

# Base de données
MONGO_URI=mongodb://localhost:27017/gandal

# Auth
JWT_SECRET=change_me

# SMS OTP (Africa's Talking)
AT_USERNAME=
AT_API_KEY=

# Hébergement médias (vidéos, supports, images de profil)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# CORS
CORS_WHITELIST=http://localhost:3000
